* {
  box-sizing: border-box;
}

/* Navigation Bar */

ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: blue;
  min-height: 5vh;
}

li>a {
  color: white;
  padding: 0px 60px 0px;
  text-decoration: none;
  font-size: 24px;
}

/* Landing Page */

.home-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-image: url('../public/home-bg.jpeg');
  background-size: cover;
  color: white;
  min-height: 95vh;
}

.home-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(17, 9, 1, 0.705);
  min-width: 60%;
  padding: 60px 50px 60px;
}

/* About Page */

.profile {
  background-color: #ede9de;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-size: cover;
  min-height: 95vh;
}

.profile-content {
  padding: 50px;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.profile-content>div {
  margin: 20px;
  flex-grow: 1;
  min-width: 30%;
  padding: 30px;
}

.profile-content>div>img {
  width: 300px;
}

.intro {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  min-width: 30%;
}

.image {
  display: flex;
  justify-content: space-around;
}

/* Contact Us */
.contact {
  background-color: #ede9de;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-size: cover;
  min-height: 95vh;
}

.contact-content {
  min-width: 90%;
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 50px;
}

.contact-content>div {
  display: flex;
  flex-grow: 1;
  justify-content: space-around;
}

.contact-form {
  display: flex;
  align-items: center;
  justify-content: center;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 30px;
}

input {
  width: 100%;
  height: 30px;
  margin: 20px 0px 20px;
}



@media only screen and (max-width: 1200px) {

  .profile>div {
    display: block;
  }

  .contact-content {
    display: block;
  }
  
}